[Desktop Entry]
Encoding=UTF-8
Comment=Startup Event Monitor
Name=startup-monitor
Exec=startup-monitor
Icon=startup-monitor
Type=Application
Categories=GNOME;GTK;Utility;
