#!/usr/bin/make -f

%:
	dh $@ --with autoreconf,python3 --parallel

override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=/usr/lib --disable-abi-check --disable-sysvcompat

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
ifeq (0,$(shell id -u))
	# WARNING: RUNNING TESTS AS ROOT IS KNOWN TO FAIL
	# WARNING: WILL RUN TESTS, BUT WILL IGNORE FAILURE
	-dh_auto_build -- -k check || { RET=$$?; find . -name "test-suite.log" -exec cat {} + ; exit $$RET;}
else
	dh_auto_build -- -k check || { RET=$$?; find . -name "test-suite.log" -exec cat {} + ; exit $$RET;}
endif
endif
